

#hydra-ui {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


#hydra-ui canvas{
    width: 100%;
    height: 100%;
    aspect-ratio: auto 1920 / 1080;
}

body{
    background: #000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 1.4;
}

button{ 
    background: #363636 !important;
    border: 2px solid #2c2c2c !important;
    border-radius: 0% !important;
}

.selectedAction{
    background-color: white !important;
    color: #464646;
}

.selectedChannel{
    background-color: white !important;
    color: #464646;
}

.VitreousWelcome{
    text-align: left !important;
    display: block;
    background: #7676768a;
    font-size: 25px;
    padding: 100px;
    margin: 100px;
    border: 5px solid #0000004f;
    margin-left: 10px;
} 

.liveChannel{
    background: #740000 !important;
    border: 2px solid #ac0000 !important;
    border-radius: 0% !important;
}

.liveChannel.selectedChannel{
    background-color: white !important;
    color: #740000;
}
.navbar-custom {
    z-index: 99;
    height: 100%;
}
div.height100 {
    height: 100%;
}
div.height90 {
    height: 90%;
}
div.height97 {
    height: 97%;
}
div.height3 {
    height: 3%;
}
.CodeMirror{
    min-height: 100%;
}
.spacingRow{
    padding: 10px 0px;;
}
.code{
    background: #282a36;
}
.mix{
    background: #505050;
}
.tv{ 
    padding-top: 10px;
}
.tv #hydra-canvas{
    border: 3px solid white;
    background: black;
}
.multychannel{
    
    max-height: 430px;
    overflow: hidden;
    overflow-y: auto;

}
.button-channel{
    
}